<div #scanner [hidden]='hidden' lassName="scanner">
  <div  id="scanner-video">
    <video (play)='playEvent()' #video autoPlay playsInline></video>
  </div>
  <div #frame id="scanner-frame"></div>
  <canvas #canvas id="scanner-canvas"></canvas>
  <img #img id="scanner-image" src="" alt="" />
  <button id="scanner-close" (click)='closeScanner()'>
    Close
  </button>
</div>
<!--
{{qrResultString}}
<input type="file" id="img" name="picture" accept="image/gif, image/jpeg, image/png" (change)="onFileSelected($event)">
<button (click)='onClick()'>Decode</button>
<div *ngIf='imageSrc'>
  <img id="blah" [src]="imageSrc" alt="your image" />
</div> -->
