
<!-- <div class="input-group">
  <input type="file"  name="picture" accept="image/gif, image/jpeg, image/png" (change)="onFileSelected($event)" >
  <div *ngIf='imageSrc'>
    <img class="img" id="img" [src]="imageSrc" style="border: 1px solid gray" />
  </div>
</div>
{{barcode}}
<button (click)='onClick()'>Here Click Me</button> -->

<!-- Zxingjs/ngx-scanner  -->
<button (click)='onClick()'>Click Me To Activate</button>
<mat-label>Cameras</mat-label>
<mat-select  multiple>
  <mat-option *ngFor="let topping of availableDevices" [value]="topping">{{topping.label}}</mat-option>
</mat-select><br/><br/>
<zxing-scanner
#scanner
[formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"
[torch]="torch"
(torchCompatible)="onTorchCompatible($event)"
(camerasFound)="camerasFoundHandler($event)"
(camerasNotFound)="camerasNotFoundHandler($event)"
(scanSuccess)="scanSuccessHandler($event)"
(scanError)="scanErrorHandler($event)"
></zxing-scanner>
