<!-- <button (click)='start()'>Start</button>
<video id="video" width=100% height='100%' style="border: 1px solid gray"></video>
<div id="scan-area"></div> -->

<!-- <h1>Barcode Scanner - detected barcode: <small style="color: blue">{{value}}</small></h1>
<p style="color:red" *ngIf="isError">Barcode scan is not available.</p>
<ngx-barcode-scanner [(value)]="value" [codes]="['code_128', 'ean', 'upc', 'upc_e', 'ean_8']" [errorThreshold]="0.1"
  (exception)="onError($event)"></ngx-barcode-scanner> -->

  <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
  [formats]="formatsEnabled" (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>


  <section class="results" *ngIf="qrResultString">
    <div>
      <small>Result</small>
      <strong>{{ qrResultString }}</strong>
    </div>
    <button mat-icon-button (click)="clearResult()">&times;</button>
  </section>
